@charset "UTF-8";

/* Social */

$color-fb: #3B5998 !default;
$color-gplus: #DD4B39 !default;
$color-twitter: #00ACED !default;
$color-youtube: #CD201F !default;
$color-gplus: #DD4B39 !default;
$color-linkedin: #0077B5 !default;
