@charset "UTF-8";

/* Margins */

$mobile-padding: 15px!default;
$mobile-padding-neg: -1*$mobile-padding!default;
$tablet-padding: 20px!default;
$tablet-padding-neg: -1*$tablet-padding!default;
$desktop-padding: 25px!default;
$desktop-padding-neg: -1*$desktop-padding!default;
