@charset "UTF-8";

/* ----------------------------------------------------------
  Classic media queries
---------------------------------------------------------- */

/* Width
-------------------------- */

$tiny_only: "max-width:"+$tiny-max !default;
$tiny_excluded: "min-width:"+$mobile-min !default;
$mobile_only: "max-width:"+$mobile-max !default;
$mobile_excluded: "min-width:"+$tablet-min !default;
$tabletmid_only: "max-width:"+$tablet-mid !default;
$tabletmid_excluded: "min-width:"+$tablet-midt !default;
$desktop_excluded: "max-width:"+$tablet-max !default;
$desktop_only: "min-width:"+$desktop-min !default;
$desktopmid_excluded:"max-width:"+$desktop-mid !default;
$desktopmid_only:"min-width:"+$desktop-midt !default;
$large_excluded: "max-width:"+$desktop-max !default;
$large_only: "min-width:"+$large-min !default;

/* Height
-------------------------- */

$small_height_only: "max-height:"+$screen-small-height !default;
$small_height_excluded: "min-height:"+$screen-big-height !default;

/* Features
-------------------------- */

$has_mobile_menu: $desktop_excluded;
$has_desktop_menu: $desktop_only;

/* ----------------------------------------------------------
  Custom media queries
---------------------------------------------------------- */

@mixin media_tablet_and_tiny() {
    @media($desktop_excluded) and ($mobile_excluded), ($tiny_only) {
        @content;
    }
}

@mixin media_desktop_and_mobile() {
    @media($desktop_only), ($mobile_only) and ($tiny_excluded) {
        @content;
    }
}

@mixin media_desktop_small_screens() {
    @media($small_height_only) and ($desktop_only) {
        @content;
    }
}

/* ----------------------------------------------------------
  Responsive selector type
---------------------------------------------------------- */

%responsive-selector-type:after {
    @extend %cssc-sr-only;
    content: '';
}

@media($desktop_only) {
    %responsive-selector-type:after {
        content: 'desktop';
    }
}

@media($large_only) {
    %responsive-selector-type:after {
        content: 'large';
    }
}

@media($desktop_excluded) {
    %responsive-selector-type:after {
        content: 'tablet';
    }
}

@media($mobile_only) {
    %responsive-selector-type:after {
        content: 'mobile';
    }
}

@media($tiny_only) {
    %responsive-selector-type:after {
        content: 'tiny';
    }
}

/* ----------------------------------------------------------
  Browser query
---------------------------------------------------------- */

@mixin media_browser_is_ie() {
    @media all and (-ms-high-contrast:none) {
        @content;
    }
}
