@charset "UTF-8";

/* ----------------------------------------------------------
  Vars
---------------------------------------------------------- */

/* Breakpoints
-------------------------- */

$mobile-tiny: 550px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-mid: 895px;
$tablet-max: 1023px;
$desktop-min: 1024px;
$desktop-mid: 1299px;
$desktop-max: 1599px;
$large-min: 1600px;

$mobile_only: "max-width:"+$mobile-max;
$mobile_excluded: "min-width:"+$tablet-min;
$tablet_down: "max-width:"+$tablet-mid;
$desktop_excluded: "max-width:"+$tablet-max;
$desktop_only: "min-width:"+$desktop-min;
$large_excluded: "max-width:"+$desktop-max;
$large_only: "min-width:"+$large-min;

/* Margins
-------------------------- */

$mobile-padding: 15px;
$mobile-padding-neg: -15px;
$tablet-padding: 30px;
$tablet-padding-neg: -30px;
$desktop-padding: 45px;
$desktop-padding-neg: -45px;

/* ----------------------------------------------------------
  Core elements
---------------------------------------------------------- */

@import "components/default";
@import "components/common";
@import "components/common/blockmedia";
@import "components/common/codepresentation";
@import "components/common/drawers";
@import "components/common/imagereplace";
@import "components/common/messages";
@import "components/common/verticalcenter";
@import "components/common/navtoggle";

/* ----------------------------------------------------------
  Modules
---------------------------------------------------------- */

/* Content */

@import "components/content";
@import "components/content/text";
@import "components/content/module";


/* Buttons */

@import "components/buttons/core";
@import "components/buttons/theme";

/* Forms */

@import "components/forms/core";
@import "components/forms/fake-check";
@import "components/forms/theme";

/* Modale */

@import "components/modale/core";
@import "components/modale/theme";

/* Progress bar */

@import "components/progressbar/core";
@import "components/progressbar/theme";

/* Separators */

@import "components/separators/core";
@import "components/separators/theme";

/* Stars */

@import "components/stars/core";
@import "components/stars/theme";

/* Tags */

@import "components/tags/core";
@import "components/tags/theme";

/* Tooltip */

@import "components/tooltip/core";
@import "components/tooltip/theme";

/* Effects */

@import "components/effects";
@import "components/effects/hovers";
@import "components/effects/cards";
@import "components/effects/animations";
@import "components/effects/scrolleffects";

/* Various */

@import "components/iframes";
@import "components/tables";
@import "components/grid";
@import "components/push";
@import "components/navigation";
@import "components/layouts";
@import "components/tabs";
@import "components/images";
@import "components/print";
@import "components/triggers";
@import "components/mixins/common";
