@charset "UTF-8";

/*
Name: Default Buttons
URL: http://github.com/Darklg/CSSCommon
Version: 2.4.2
License: MIT
*/

/* ----------------------------------------------------------
  Button : core
---------------------------------------------------------- */

.buttonreset,
.cssc-button {
    display: inline-block;
    z-index: 1;
    position: relative;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0 1em;
    border: 0;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 2.5;
    white-space: nowrap;
    vertical-align: middle;
    background: #fff;
    -webkit-background-clip: padding-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: -moz-none;
    user-drag: none;
}

.buttonreset:hover,
.buttonreset:focus,
.cssc-button:hover,
.cssc-button:focus {
    text-decoration: none;
    outline: 0;
}

.buttonreset[disabled],
.cssc-button[disabled] {
    cursor: not-allowed;
}

/* Icons
-------------------------- */

.cssc-button:before,
.cssc-button:after {
    vertical-align: 0;
}

.cssc-button:before {
    margin-right: 4px;
}

.cssc-button:after {
    margin-left: 4px;
}

.cssc-button-icn-large:before,
.cssc-button-icn-large:after {
    font-size: 115%;
}

/* Buttons' modes
-------------------------- */

.cssc-button--wide {
    display: block;
    width: 100%;
}
