@charset "UTF-8";

/*
Name: Default Buttons
URL: http://github.com/Darklg/CSSCommon
Version: 2.5.1
License: MIT
*/

/* ----------------------------------------------------------
  Button : core
---------------------------------------------------------- */

.buttonreset,
.cssc-button {
    & {
        display: inline-block;
        z-index: 1;
        position: relative;
        -webkit-appearance: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        text-align: center;
        text-decoration: none;
        font: inherit;
        white-space: nowrap;
        vertical-align: inherit;
        background: transparent;
        -webkit-background-clip: padding-box;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -moz-user-drag: -moz-none;
        user-drag: none;
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &:hover,
    &:focus {
        text-decoration: none;
        outline: 0;
    }

    &[disabled] {
        cursor: not-allowed;
    }
}

.cssc-button {
    padding: 0 1.5em;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 2.5;
    vertical-align: middle;
    background: #fff;
}

/* Icons
-------------------------- */

.cssc-button:before,
.cssc-button:after {
    vertical-align: 0;
}

.cssc-button:before {
    margin-right: 0.5em;
}

.cssc-button:after {
    margin-left: 0.5em;
}

.cssc-button-icn-large:before,
.cssc-button-icn-large:after {
    font-size: 1.15em;
}

/* Buttons' modes
-------------------------- */

.cssc-button--wide {
    display: block;
    width: 100%;
}
