@charset "UTF-8";

/* ----------------------------------------------------------
  Hover effects
---------------------------------------------------------- */

/* Inverted hover
-------------------------- */

.cssc-inverted-hover:hover a:hover,
.cssc-inverted-hover a {
    color: #369;
}

.cssc-inverted-hover:hover a {
    color: #999;
}

/* Inverted hover on images
-------------------------- */

.cssc-inverted-hover--images:hover a:hover img,
.cssc-inverted-hover--images a img {
    opacity: 0.999;
    filter: alpha(opacity=99);
}

.cssc-inverted-hover--images:hover a img {
    opacity: 0.30;
    filter: alpha(opacity=30);
}

/* ----------------------------------------------------------
  Hover transformations
---------------------------------------------------------- */

/* Common
-------------------------- */

.cssc-unblur-hover,
.cssc-colorized-hover {
    .animate-me {
        display: inline-block;
        z-index: 1;
        position: relative;
        overflow: hidden;
        text-align: left;
        line-height: 1;
        vertical-align: middle;
        outline: 1px solid rgba(0,0,0,0.01);
    }

    img {
        vertical-align: middle;
        outline: 1px solid rgba(0,0,0,0.01);
        opacity: 0.999;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

.cssc-colorized-hover .animate-me .color,
.cssc-unblur-hover .animate-me .clean {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    opacity: 0;
}

/* Colorized hover
-------------------------- */

.cssc-colorized-hover .animate-me {
    .gray {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    &:hover .color {
        opacity: 0.999;
    }
}

@-moz-document url-prefix() {
    .cssc-colorized-hover .animate-me .gray {
        filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogPGZpbHRlciBpZD0iZ3JheXNjYWxlIj4KICA8ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMC4zMzMzIDAuMzMzMyAwLjMzMzMgMCAwIDAuMzMzMyAwLjMzMzMgMC4zMzMzIDAgMCAwLjMzMzMgMC4zMzMzIDAuMzMzMyAwIDAgMCAwIDAgMSAwIi8+CiA8L2ZpbHRlcj4KPC9zdmc+#grayscale);
    }
}

/* Unblur hover
-------------------------- */

.cssc-unblur-hover .animate-me {
    .blur {
        -webkit-filter: blur(1px);
        filter: blur(1px);
    }

    &:hover .clean {
        opacity: 0.999;
        filter: alpha(opacity=99);
    }
}

@-moz-document url-prefix() {
    .cssc-unblur-hover .animate-me .blur {
        filter: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxmaWx0ZXIgaWQ9ImJsdXIiPgo8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxIiAvPgo8L2ZpbHRlcj4KPC9zdmc+#blur);
    }
}
