@charset "UTF-8";

$mobile-max: 767px !default;
$mobile_only: "max-width: "+$mobile-max !default;
$responsive_table_media_query: $mobile_only!default;

/* ----------------------------------------------------------
  Responsive Tables
---------------------------------------------------------- */

@media($responsive_table_media_query) {
    %responsive-table td,
    %responsive-table tr,
    %responsive-table tbody,
    %responsive-table {
        display: block;
        border: 0;
    }

    %responsive-table td {
        padding: 0;
        border: 0;
    }

    %responsive-table tfoot,
    %responsive-table thead {
        display: none;
    }

    %responsive-table tr {
        padding: 1em 0;
    }

    %responsive-table td {
        margin-bottom: 0.3em;
        padding: 0;
        border: 0!important;
        text-align: left!important;
    }

    %responsive-table td:before {
        content: attr(data-th);
        display: block;
        font-weight: bold;
    }

    %responsive-table td[data-rwd-label]:before {
        content: attr(data-rwd-label);
    }
}

/* ----------------------------------------------------------
  Mobile table content
---------------------------------------------------------- */

@media($responsive_table_media_query) {
    %responsive-table-simple td,
    %responsive-table-simple tr,
    %responsive-table-simple thead,
    %responsive-table-simple th,
    %responsive-table-simple tbody,
    %responsive-table-simple {
        display: block;
        border: 0;
    }
}
