@charset "UTF-8";

/*
Name: Grids
URL: http://github.com/Darklg/CSSCommon
Version: 6.0.0
License: MIT
*/

$csscommon_grid_dimensions: (
    "8p": 8.33%,
    "10p": 10%,
    "16p": 16.66%,
    "20p": 20%,
    "25p": 25%,
    "30p": 30%,
    "33p": 33.333%,
    "40p": 40%,
    "45p": 45%,
    "50p": 50%,
    "55p": 55%,
    "60p": 60%,
    "66p": 66.667%,
    "70p": 70%,
    "75p": 75%,
    "80p": 80%,
    "90p": 90%,
    "100p": 100%
);

/* ----------------------------------------------------------
  Core
---------------------------------------------------------- */

.cssc-grid {
    display: block;
    clear: both;
    max-width: 100%;
}

.cssc-grid:before,
.cssc-grid:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    max-height: 0;
    overflow: hidden;
}

.cssc-grid > * {
    float: left;
    min-height: 1px;
}

/* ----------------------------------------------------------
  Grille fluide
---------------------------------------------------------- */

$desktop-padding: 45px !default;
$desktop-padding-neg: -45px !default;
$tablet-padding: 30px !default;
$tablet-padding-neg: -30px !default;
$mobile-padding: 15px !default;
$mobile-padding-neg: -15px !default;

$tiny-max: 500px !default;
$tiny_only: "max-width:"+$tiny-max !default;
$mobile-max: 767px !default;
$mobile_only: "max-width:"+$mobile-max !default;
$tablet-max: 1023px !default;
$desktop_excluded: "max-width:"+$tablet-max !default;

.fluid-grid {
    & {
        z-index: 1;
        position: relative;
        width: auto;
        margin: 0 $desktop-padding-neg/2;
        max-width: none;
    }

    & > * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 $desktop-padding/2;
        margin-bottom: $desktop-padding;
    }

}

/* Margin
-------------------------- */

.fluid-grid--0 {margin: 0}
.fluid-grid--0 > * {padding: 0}

/* Columns
-------------------------- */

@each $col_name, $percent in $csscommon_grid_dimensions {
    .col-#{$col_name} {
        width: $percent;
    }
}

/* Responsive
-------------------------- */

@media($desktop_excluded) {
    .fluid-grid {
        margin: 0 $tablet-padding-neg/2;
    }

    .fluid-grid > * {
        padding: 0 $tablet-padding/2;
        margin-bottom: $tablet-padding;
    }

    /* Margin */
    .tab--fluid-grid--20 {margin: 0 -20px}
    .tab--fluid-grid--20 > * {padding: 0 20px}
    .tab--fluid-grid--10 {margin: 0 -10px}
    .tab--fluid-grid--10 > * {padding: 0 10px}

    /* Columns */
    @each $col_name, $percent in $csscommon_grid_dimensions {
        .tab--col-#{$col_name} {
            width: $percent;
        }
    }
}

@media($mobile_only) {
    .fluid-grid {
        margin: 0 $mobile-padding-neg/2;
    }

    .fluid-grid > * {
        padding: 0 $mobile-padding/2;
        margin-bottom: $mobile-padding;
    }


    /* Columns */
    @each $col_name, $percent in $csscommon_grid_dimensions {
        .tabv--col-#{$col_name} {
            width: $percent;
        }
    }
}

@media($tiny_only) {
    /* Columns */
    @each $col_name, $percent in $csscommon_grid_dimensions {
        .mob--col-#{$col_name} {
            width: $percent;
        }
    }
}
