@charset "UTF-8";

/*
Name: Grids
URL: http://github.com/Darklg/CSSCommon
Version: 8.1.0
License: MIT
*/

/* ----------------------------------------------------------
  Default values
---------------------------------------------------------- */

$desktop-padding: 45px !default;
$tablet-padding: 30px !default;
$mobile-padding: 15px !default;

$tiny-max: 500px !default;
$tiny_only: "max-width:"+$tiny-max !default;
$mobile-max: 767px !default;
$mobile_only: "max-width:"+$mobile-max !default;
$tablet-max: 1023px !default;
$desktop_excluded: "max-width:"+$tablet-max !default;

/* ----------------------------------------------------------
  Config
---------------------------------------------------------- */

$csscommon_grid_dimensions: (
    "8p": 8.33%,
    "10p": 10%,
    "16p": 16.66%,
    "20p": 20%,
    "25p": 25%,
    "30p": 30%,
    "33p": 33.333%,
    "40p": 40%,
    "45p": 45%,
    "50p": 50%,
    "55p": 55%,
    "60p": 60%,
    "66p": 66.667%,
    "70p": 70%,
    "75p": 75%,
    "80p": 80%,
    "90p": 90%,
    "100p": 100%
) !default;

$desktop-grid-padding: $desktop-padding !default;
$tablet-grid-padding: $tablet-padding !default;
$mobile-grid-padding: $mobile-padding !default;
$desktop-grid-padding-neg: 0-$desktop-grid-padding !default;
$tablet-grid-padding-neg: 0-$tablet-grid-padding !default;
$mobile-grid-padding-neg: 0-$mobile-grid-padding !default;

/* ----------------------------------------------------------
  Core
---------------------------------------------------------- */

%cssc-fluid-grid,
.cssc-grid {
    & {
        display: block;
        clear: both;
        max-width: 100%;
    }

    &:before,
    &:after {
        content: " ";
        display: block;
        visibility: hidden;
        clear: both;
        max-height: 0;
        overflow: hidden;
    }

    & > * {
        float: left;
        min-height: 1px;
    }
}

/* ----------------------------------------------------------
  Fluid grid
---------------------------------------------------------- */

%cssc-fluid-grid,
.fluid-grid {
    & {
        z-index: 1;
        position: relative;
        width: auto;
        margin: 0 $desktop-grid-padding-neg*0.5;
        max-width: none;
    }

    & > * {
        box-sizing: border-box;
        margin-bottom: $desktop-grid-padding;
        padding: 0 $desktop-grid-padding*0.5;
    }
}

/* Margin
-------------------------- */

.fluid-grid--0 {
    margin: 0;
}

.fluid-grid--0 > * {
    padding: 0;
}

/* Columns
-------------------------- */

@each $col_name, $percent in $csscommon_grid_dimensions {
    %cssc-grid--col-#{$col_name} > *,
    .col-#{$col_name} {
        width: $percent;
    }
}

/* Responsive
-------------------------- */

@media($desktop_excluded) {
    %cssc-fluid-grid,
    .fluid-grid {
        margin: 0 $tablet-grid-padding-neg*0.5;
    }

    %cssc-fluid-grid > *,
    .fluid-grid > * {
        margin-bottom: $tablet-grid-padding;
        padding: 0 $tablet-grid-padding*0.5;
    }

    /* Margin */
    .tab--fluid-grid--20 {margin: 0 -20px}
    .tab--fluid-grid--20 > * {padding: 0 20px}
    .tab--fluid-grid--10 {margin: 0 -10px}
    .tab--fluid-grid--10 > * {padding: 0 10px}

    /* Columns */
    @each $col_name, $percent in $csscommon_grid_dimensions {
        %cssc-grid--tab--col-#{$col_name} > *,
        .tab--col-#{$col_name} {
            width: $percent;
        }
    }
}

@media($mobile_only) {
    %cssc-fluid-grid,
    .fluid-grid {
        margin: 0 $mobile-grid-padding-neg*0.5;
    }

    %cssc-fluid-grid > *,
    .fluid-grid > * {
        margin-bottom: $mobile-grid-padding;
        padding: 0 $mobile-grid-padding*0.5;
    }

    /* Columns */
    @each $col_name, $percent in $csscommon_grid_dimensions {
        %cssc-grid--tabv--col-#{$col_name} > *,
        .tabv--col-#{$col_name} {
            width: $percent;
        }
    }
}

@media($tiny_only) {
    /* Columns */
    @each $col_name, $percent in $csscommon_grid_dimensions {
        %cssc-grid--mob--col-#{$col_name} > *,
        .mob--col-#{$col_name} {
            width: $percent;
        }
    }
}
