@charset "UTF-8";

/*
Name: Layouts de page
URL: http://github.com/Darklg/CSSCommon
Version: 1.14.0
License: MIT
*/

@import "layouts/containers";
@import "layouts/base-layouts";
@import "layouts/responsive-visibility";
@import "layouts/fullscreen";
