@charset "UTF-8";

/*
Name: Common Mixins
URL: http://github.com/Darklg/CSSCommon
Version: 0.7.2
License: MIT
*/

/* ----------------------------------------------------------
  Black & White
---------------------------------------------------------- */

@function black($opacity){
    @return rgba(0,0,0,$opacity)
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

/* ----------------------------------------------------------
  Vertical center
---------------------------------------------------------- */

.vertical-center-content {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    -ms-flex-align: center;
}

.vertical-center-content:after,
.vertical-center-content:before {
    content: '';
}

.vertical-center-content:before {
    align-self: flex-start;
}

.vertical-center-content:after {
    align-self: flex-end;
}

/* ----------------------------------------------------------
  Justify items
---------------------------------------------------------- */

.justify-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-box-orient: horizontal;
}

/* ----------------------------------------------------------
  Desktop grid
---------------------------------------------------------- */

.desktop-grid-table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.desktop-grid-table > * {
    display: table-cell;
    vertical-align: top;
}

@media($mobile_only) {
    .desktop-grid-table,
    .desktop-grid-table > * {
        display: block;
    }

    .desktop-grid-table > * {
        margin-bottom: 2em;
    }
}

/* ----------------------------------------------------------
  Absolute cover
---------------------------------------------------------- */

.absolute-cover {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* ----------------------------------------------------------
  Responsive display
---------------------------------------------------------- */

/* Hide on mobile devices */
@media($mobile_only) {
    .hide-on-mobile {
        display: none!important;
    }
}

/* Hide on desktop devices */
@media($mobile_excluded) {
    .hide-on-desktop {
        display: none!important;
    }
}

/* Hide on devices larger than tablets */
@media($desktop_only) {
    .hide-above-tablet {
        display: none!important;
    }
}

/* Hide on tablets and smaller devices */
@media($desktop_excluded) {
    .hide-tablet-below {
        display: none!important;
    }
}

/* ----------------------------------------------------------
  Prefixed keyframes
---------------------------------------------------------- */
$browserPrefix: '';

/*
 * Thx to: http://stackoverflow.com/a/23861638
 *
 * Ex :
 *
 * @include keyframes(rotating) {
 *    0%, 100% {
 *        #{$browserPrefix}transform: rotate(0deg);
 *    }
 * }
*/

@mixin csscKeyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        $browserPrefix: '-webkit-' !global;
        @content;
    }
    @-moz-keyframes #{$animationName} {
        $browserPrefix: '-moz-' !global;
        @content;
    }
    @-o-keyframes #{$animationName} {
        $browserPrefix: '-o-' !global;
        @content;
    }
    @keyframes #{$animationName} {
        $browserPrefix: ' ' !global;
        @content;
    }
}

/* ----------------------------------------------------------
  Responsive
---------------------------------------------------------- */

@mixin resp($point) {
    @if $point == mobile_only {
        @media ($mobile_only) { @content; }
    }
    @else if $point == mobile_excluded {
        @media ($mobile_excluded) { @content; }
    }
    @else if $point == desktop_excluded {
        @media ($desktop_excluded) { @content; }
    }
    @else if $point == desktop_only {
        @media ($desktop_only) { @content; }
    }
    @else if $point == large_excluded {
        @media ($large_excluded) { @content; }
    }
    @else if $point == large_only {
        @media ($large_only) { @content; }
    }
}

/* ----------------------------------------------------------
  Same height children
---------------------------------------------------------- */

.same-height-children {
    display: block;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.same-height-children > * {
    display: inline-block;
}

.same-height-children,
.same-height-children > * {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

/* ----------------------------------------------------------
  Responsive padding
---------------------------------------------------------- */

$desktop-padding: 45px !default;
$tablet-padding: 30px !default;
$mobile-padding: 15px !default;

/* All
-------------------------- */

%responsive-padding {
    padding: $desktop-padding;
}

@media($desktop_excluded) {
    %responsive-padding {
        padding: $tablet-padding;
    }
}

@media($mobile_only) {
    %responsive-padding {
        padding: $mobile-padding;
    }
}

/* Top / Bottom
-------------------------- */

%responsive-padding-tb {
    padding: $desktop-padding 0;
}

@media($desktop_excluded) {
    %responsive-padding-tb {
        padding: $tablet-padding 0;
    }
}

@media($mobile_only) {
    %responsive-padding-tb {
        padding: $mobile-padding 0;
    }
}

/* Left / Right
-------------------------- */

%responsive-padding-lr {
    padding: 0 $desktop-padding;
}

@media($desktop_excluded) {
    %responsive-padding-lr {
        padding: 0 $tablet-padding;
    }
}

@media($mobile_only) {
    %responsive-padding-lr {
        padding: 0 $mobile-padding;
    }
}

/* ----------------------------------------------------------
  Parent hover visibility
---------------------------------------------------------- */

%parent-hover-visibility {
    & {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    *:hover > & {
        visibility: visible;
        opacity: 0.99;
    }
}

/* ----------------------------------------------------------
  Full width container : https://css-tricks.com/?p=243825
---------------------------------------------------------- */

%full-width-container {
    z-index: 1;
    position: relative;
    right: 50%;
    left: 50%;
    width: 100vw;
    margin-right: -50vw;
    margin-left: -50vw;
}
