@charset "UTF-8";

/*
Name: Common Mixins
URL: http://github.com/Darklg/CSSCommon
Version: 0.11.2
License: MIT
*/

$desktop-padding: 45px !default;
$desktop-padding-neg: -45px !default;
$tablet-padding: 30px !default;
$tablet-padding-neg: -30px !default;
$mobile-padding: 15px !default;
$mobile-padding-neg: -15px !default;

/* ----------------------------------------------------------
  Black & White
---------------------------------------------------------- */

@function black($opacity){
    @return rgba(0,0,0,$opacity)
}
@function white($opacity){
    @return rgba(255,255,255,$opacity)
}

/* ----------------------------------------------------------
  Vertical center
---------------------------------------------------------- */

%vertical-center-content,
.vertical-center-content {
    & {
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        -ms-flex-align: center;
    }

    &:after,
    &:before {
        content: '';
    }

    &:before {
        align-self: flex-start;
    }

    &:after {
        align-self: flex-end;
    }

    & > * {
        width: 100%;
    }
}

/* ----------------------------------------------------------
  Justify items
---------------------------------------------------------- */

%justify-items,
.justify-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-box-orient: horizontal;
}

/* ----------------------------------------------------------
  Desktop grid
---------------------------------------------------------- */

.desktop-grid-table {
    & {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    & > * {
        display: table-cell;
        vertical-align: top;
    }

    & > *:not(:last-child) {
        padding-right: $desktop-padding/2;
    }

    & > * + * {
        padding-left: $desktop-padding/2;
    }
}

@media($desktop_excluded) {
    .desktop-grid-table > *:not(:last-child) {
        padding-right: $tablet-padding/2;
    }

    .desktop-grid-table > * + * {
        padding-left: $tablet-padding/2;
    }
}

@media($mobile_only) {
    .desktop-grid-table,
    .desktop-grid-table > * {
        display: block;
    }

    .desktop-grid-table > * + *,
    .desktop-grid-table > *:not(:last-child) {
        margin-bottom: 2em;
        padding-right: 0;
        padding-left: 0;
    }
}

/* ----------------------------------------------------------
  Absolute cover
---------------------------------------------------------- */

.absolute-cover {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/* ----------------------------------------------------------
  Responsive display
---------------------------------------------------------- */

/* Hide on mobile devices */
@media($mobile_only) {
    .hide-on-mobile {
        display: none!important;
    }
}

/* Hide on desktop devices */
@media($mobile_excluded) {
    .hide-on-desktop {
        display: none!important;
    }
}

/* Hide on devices larger than tablets */
@media($desktop_only) {
    .hide-above-tablet {
        display: none!important;
    }
}

/* Hide on tablets and smaller devices */
@media($desktop_excluded) {
    .hide-tablet-below {
        display: none!important;
    }
}

/* ----------------------------------------------------------
  Prefixed keyframes
---------------------------------------------------------- */
$browserPrefix: '';

/*
 * Thx to: http://stackoverflow.com/a/23861638
 *
 * Ex :
 *
 * @include keyframes(rotating) {
 *    0%, 100% {
 *        #{$browserPrefix}transform: rotate(0deg);
 *    }
 * }
*/

@mixin csscKeyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        $browserPrefix: '-webkit-' !global;
        @content;
    }
    @-moz-keyframes #{$animationName} {
        $browserPrefix: '-moz-' !global;
        @content;
    }
    @-o-keyframes #{$animationName} {
        $browserPrefix: '-o-' !global;
        @content;
    }
    @keyframes #{$animationName} {
        $browserPrefix: ' ' !global;
        @content;
    }
}

/* ----------------------------------------------------------
  Responsive
---------------------------------------------------------- */

@mixin resp($point) {
    @if $point == mobile_only {
        @media ($mobile_only) { @content; }
    }
    @else if $point == mobile_excluded {
        @media ($mobile_excluded) { @content; }
    }
    @else if $point == desktop_excluded {
        @media ($desktop_excluded) { @content; }
    }
    @else if $point == desktop_only {
        @media ($desktop_only) { @content; }
    }
    @else if $point == large_excluded {
        @media ($large_excluded) { @content; }
    }
    @else if $point == large_only {
        @media ($large_only) { @content; }
    }
    @else {
        @media ($point) { @content; }
    }
}

/* ----------------------------------------------------------
  Same height children
---------------------------------------------------------- */

%same-height-children {
    & {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
    }

    &,
    & > * {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}

/* ----------------------------------------------------------
  Responsive padding
---------------------------------------------------------- */

/* All
-------------------------- */

%responsive-padding {
    padding: $desktop-padding;
}

%responsive-padding-inv {
    margin: $desktop-padding-neg;
}

@media($desktop_excluded) {
    %responsive-padding {
        padding: $tablet-padding;
    }

    %responsive-padding-inv {
        margin: $tablet-padding-neg;
    }
}

@media($mobile_only) {
    %responsive-padding {
        padding: $mobile-padding;
    }

    %responsive-padding-inv {
        margin: $mobile-padding-neg;
    }
}

/* Top / Bottom
-------------------------- */

%responsive-relative-top {
    top: $desktop-padding;
}

%responsive-relative-bottom {
    bottom: $desktop-padding;
}

%responsive-relative-top-inv {
    top: $desktop-padding-neg;
}

%responsive-relative-bottom-inv {
    bottom: $desktop-padding-neg;
}

%responsive-padding-tb {
    padding-top: $desktop-padding;
    padding-bottom: $desktop-padding;
}

%responsive-padding-tb-inv {
    margin-top: $desktop-padding-neg;
    margin-bottom: $desktop-padding-neg;
}

@media($desktop_excluded) {
    %responsive-relative-top {
        top: $tablet-padding;
    }

    %responsive-relative-bottom {
        bottom: $tablet-padding;
    }

    %responsive-relative-top-inv {
        top: $tablet-padding-neg;
    }

    %responsive-relative-bottom-inv {
        bottom: $tablet-padding-neg;
    }

    %responsive-padding-tb {
        padding-top: $tablet-padding;
        padding-bottom: $tablet-padding;
    }

    %responsive-padding-tb-inv {
        margin-top: $tablet-padding-neg;
        margin-bottom: $tablet-padding-neg;
    }
}

@media($mobile_only) {
    %responsive-relative-top {
        top: $mobile-padding;
    }

    %responsive-relative-bottom {
        bottom: $mobile-padding;
    }

    %responsive-relative-top-inv {
        top: $mobile-padding-neg;
    }

    %responsive-relative-bottom-inv {
        bottom: $mobile-padding-neg;
    }

    %responsive-padding-tb {
        padding-top: $mobile-padding;
        padding-bottom: $mobile-padding;
    }

    %responsive-padding-tb-inv {
        margin-top: $mobile-padding-neg;
        margin-bottom: $mobile-padding-neg;
    }
}

/* Left / Right
-------------------------- */

%responsive-relative-left {
    left: $desktop-padding;
}

%responsive-relative-right {
    right: $desktop-padding;
}

%responsive-relative-left-inv {
    left: $desktop-padding-neg;
}

%responsive-relative-right-inv {
    right: $desktop-padding-neg;
}

%responsive-padding-lr {
    padding-right: $desktop-padding;
    padding-left: $desktop-padding;
}

%responsive-padding-lr-inv {
    margin-right: $desktop-padding-neg;
    margin-left: $desktop-padding-neg;
}

@media($desktop_excluded) {
    %responsive-relative-left {
        left: $tablet-padding;
    }

    %responsive-relative-right {
        right: $tablet-padding;
    }

    %responsive-relative-left-inv {
        left: $tablet-padding-neg;
    }

    %responsive-relative-right-inv {
        right: $tablet-padding-neg;
    }

    %responsive-padding-lr {
        padding-right: $tablet-padding;
        padding-left: $tablet-padding;
    }

    %responsive-padding-lr-inv {
        margin-right: $tablet-padding-neg;
        margin-left: $tablet-padding-neg;
    }
}

@media($mobile_only) {
    %responsive-relative-left {
        left: $mobile-padding;
    }

    %responsive-relative-right {
        right: $mobile-padding;
    }

    %responsive-relative-left-inv {
        left: $mobile-padding-neg;
    }

    %responsive-relative-right-inv {
        right: $mobile-padding-neg;
    }

    %responsive-padding-lr {
        padding-right: $mobile-padding;
        padding-left: $mobile-padding;
    }

    %responsive-padding-lr-inv {
        margin-right: $mobile-padding-neg;
        margin-left: $mobile-padding-neg;
    }
}

/* ----------------------------------------------------------
  Parent hover visibility
---------------------------------------------------------- */

%parent-hover-visibility {
    & {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    *:hover > & {
        visibility: visible;
        opacity: 0.99;
    }
}

/* ----------------------------------------------------------
  Full width container : https://css-tricks.com/?p=243825
---------------------------------------------------------- */

%full-width-container {
    z-index: 1;
    position: relative;
    right: 50%;
    left: 50%;
    width: 100vw;
    margin-right: -50vw;
    margin-left: -50vw;
}

/* ----------------------------------------------------------
  Columns
---------------------------------------------------------- */

%cssc-responsive-columns {
    & {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: $mobile-padding;
        -moz-column-gap: $mobile-padding;
        column-gap: $mobile-padding;
    }

    & > * {
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        break-inside: avoid;
    }
}

@media($desktop_excluded) {
    %cssc-responsive-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media($mobile_only) {
    %cssc-responsive-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
