@charset "UTF-8";

@use "../../vars/mediaqueries" as c;
@use "_default-values" as *;

/* ----------------------------------------------------------
  Desktop grid
---------------------------------------------------------- */

%desktop-grid-table {
    & {
        display: table;
        display: flex;
        width: 100%;
        table-layout: fixed;
    }

    & > * {
        display: table-cell;
        display: flex;
        flex-basis: 0;
        flex-direction: column;
        flex-grow: 1;
        box-sizing: border-box;
        vertical-align: top;
    }

    & > *:not(:last-child) {
        padding-right: $desktop-padding*0.5;
    }

    & > * + * {
        padding-left: $desktop-padding*0.5;
    }
}

@media(c.$desktop_excluded) {
    %desktop-grid-table > *:not(:last-child) {
        padding-right: $tablet-padding*0.5;
    }

    %desktop-grid-table > * + * {
        padding-left: $tablet-padding*0.5;
    }
}

@media(c.$mobile_only) {
    %desktop-grid-table,
    %desktop-grid-table > * {
        display: block;
    }

    %desktop-grid-table > * + * {
        padding-left: 0;
    }

    %desktop-grid-table > * + * {
        padding-top: 0;
    }

    %desktop-grid-table > *:not(:last-child) {
        margin-bottom: $mobile-padding;
        padding-right: 0;
        padding-left: 0;
    }
}
