@charset "UTF-8";

$tiny-max: 500px !default;
$mobile-min: 501px !default;
$tablet-max: 1023px !default;
$desktop-min: 1024px !default;
$tiny_only: "max-width: " + $tiny-max !default;
$tiny_excluded: "min-width: " + $mobile-min !default;
$desktop_excluded: "max-width: " + $tablet-max !default;
$desktop_only: "min-width: " + $desktop-min !default;

/* ----------------------------------------------------------
  Element visibility depending on device size
---------------------------------------------------------- */

.lt_ie9 .hidden-on-full,
.lt_ie9 .visible-only-tablet,
.lt_ie9 .visible-only-phone {
    display: none;
}

@media($desktop_only) {
    .hidden-on-full,
    .visible-only-tablet,
    .visible-only-phone {
        display: none;
    }
}

@media($desktop_excluded) and ($tiny_excluded) {
    .hidden-on-tablet,
    .visible-only-full,
    .visible-only-phone {
        display: none;
    }
}

@media($tiny_only) {
    .hidden-on-phone,
    .visible-only-full,
    .visible-only-tablet {
        display: none;
    }
}

/* ----------------------------------------------------------
  Element visibility depending on pointing device
---------------------------------------------------------- */

[data-inputmode="mouse"] .input-mouse-hidden,
[data-inputmode="touch"] .input-touch-hidden,
[data-inputmode="touch"] .input-mouse-visible,
[data-inputmode="mouse"] .input-touch-visible {
    display: none;
}
